* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: inherit;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.header a {
  color: white; }

.header_tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px; }

.container-fluid, .header button {
  background-color: #041e42; }

.container-fluid {
  z-index: 1;
  display: flex;
  position: sticky;
  top: 0; }

.Weekly a {
  font-size: 20px; }

.sidenav, .mySidenav_right {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  background-color: white;
  transition: 0.5s;
  line-height: 30px; }

.closebtn, .closebtn_1 {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white; }

.container-fluid {
  flex-wrap: wrap;
  z-index: 9999; }
  .container-fluid .header {
    padding: 10px 0;
    font-weight: 700; }
    .container-fluid .header button {
      width: 160px;
      border: 1px solid #041e42; }
    .container-fluid .header #header_txt hr, .container-fluid .header #header_tyt hr {
      border: 1px none;
      width: 163px;
      height: 3px;
      margin-top: 5px;
      background: #ffc220; }
    .container-fluid .header #header_txt hr {
      background: #041e42; }
      .container-fluid .header #header_txt hr:hover {
        background: blue; }

.product_detail p, .price h4 {
  color: #777777; }

.select, .product_details, .product_detail, .bar {
  display: flex; }

.container-fluid_body {
  width: 90%;
  margin: auto;
  height: auto; }

.item_detail {
  margin-top: 40px; }

.About_details ul {
  line-height: 30px;
  margin-left: 40px; }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%; }

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px; }

tr:nth-child(even) {
  background-color: #dddddd; }

.home .container {
  width: 100%;
  height: auto;
  margin: auto; }
  .home .container .home__banner img {
    width: 100%;
    padding: 0 50px; }
  .home .container .Cetile-title {
    width: 93%;
    display: flex;
    height: 380px;
    margin: 30px auto;
    background: #f5f5f5; }
    .home .container .Cetile-title .box {
      margin: 15px;
      width: 31%;
      height: auto;
      background-color: white; }
      .home .container .Cetile-title .box h4 {
        color: black;
        font-weight: 700;
        padding: 15px 10px; }
      .home .container .Cetile-title .box img {
        margin: 10px 50px; }
      .home .container .Cetile-title .box h3, .home .container .Cetile-title .box p {
        text-align: center;
        color: black; }
      .home .container .Cetile-title .box button {
        display: flex;
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 20px;
        margin: 50px auto; }
  .home .container .TempoCategoryTile {
    width: 95%;
    height: 200px;
    margin: auto; }
    .home .container .TempoCategoryTile h2 {
      text-align: center;
      color: black; }
    .home .container .TempoCategoryTile .TempoCategoryTile__container {
      margin: 50px 90px;
      display: flex; }
      .home .container .TempoCategoryTile .TempoCategoryTile__container .TempoCategoryTile_images {
        width: 20%;
        height: auto;
        margin: 20px;
        align-self: flex-end; }
        .home .container .TempoCategoryTile .TempoCategoryTile__container .TempoCategoryTile_images img {
          margin-left: 20px; }
        .home .container .TempoCategoryTile .TempoCategoryTile__container .TempoCategoryTile_images p {
          margin: 20px 50px;
          color: black;
          font-size: 18px; }
  .home .container .ModuleHeaderTile {
    width: 95%;
    height: 200px;
    margin: 400px auto; }
    .home .container .ModuleHeaderTile h2 {
      text-align: center;
      color: black; }
    .home .container .ModuleHeaderTile .ModuleHeader__container {
      margin: 50px 90px;
      display: flex; }
      .home .container .ModuleHeaderTile .ModuleHeader__container .ModuleHeader_images {
        width: 50%;
        height: auto;
        align-self: flex-end; }
        .home .container .ModuleHeaderTile .ModuleHeader__container .ModuleHeader_images:hover {
          width: 60%; }
        .home .container .ModuleHeaderTile .ModuleHeader__container .ModuleHeader_images img {
          margin-left: 20px; }
        .home .container .ModuleHeaderTile .ModuleHeader__container .ModuleHeader_images p, .home .container .ModuleHeaderTile .ModuleHeader__container .ModuleHeader_images span {
          text-align: center;
          font-size: 18px;
          margin: 30px 40px;
          color: black; }
  .home .container .card-item-title {
    margin-top: 400px; }
    .home .container .card-item-title h1 {
      margin-top: 100px;
      text-align: center;
      color: black; }
    .home .container .card-item-title .card-item-box {
      display: flex;
      width: 90%;
      margin: 50px auto; }
      .home .container .card-item-title .card-item-box .box-x {
        margin: auto;
        width: 18%;
        height: auto;
        background: white; }
        .home .container .card-item-title .card-item-box .box-x p {
          color: black;
          align-content: flex-end;
          margin-top: 70px;
          font-size: 19px; }
        .home .container .card-item-title .card-item-box .box-x h3 {
          font-weight: 700;
          color: black;
          align-items: flex-end; }
        .home .container .card-item-title .card-item-box .box-x h3 {
          margin: 30px 30px;
          color: black; }

@media (max-width: 1024px) {
  .home .container .home__banner img {
    width: 100%;
    padding: 0; }
  .home .container .Cetile-title {
    width: 100%;
    height: 400px;
    margin: 30px 0; }
    .home .container .Cetile-title .box {
      padding: 30px;
      margin: 10px;
      width: 37%;
      height: 360px; }
      .home .container .Cetile-title .box img {
        width: 70%;
        justify-content: center; }
      .home .container .Cetile-title .box h4, .home .container .Cetile-title .box p {
        font-weight: 600;
        font-size: 15px;
        text-align: center; }
      .home .container .Cetile-title .box h3 {
        text-align: center; }
      .home .container .Cetile-title .box button {
        background-color: white; }
  .home .container .TempoCategoryTile .TempoCategoryTile__container {
    margin: 0px; }
    .home .container .TempoCategoryTile .TempoCategoryTile__container .TempoCategoryTile_images {
      width: 40%;
      margin: 0px; }
      .home .container .TempoCategoryTile .TempoCategoryTile__container .TempoCategoryTile_images img {
        margin-left: 40px; }
      .home .container .TempoCategoryTile .TempoCategoryTile__container .TempoCategoryTile_images p {
        margin: 20px 50px;
        color: black; }
  .home .container .ModuleHeaderTile {
    width: 100%;
    height: auto;
    margin: auto; }
    .home .container .ModuleHeaderTile .ModuleHeader__container {
      margin: 40px 0; }
      .home .container .ModuleHeaderTile .ModuleHeader__container .ModuleHeader_images {
        width: 50%;
        height: auto; }
        .home .container .ModuleHeaderTile .ModuleHeader__container .ModuleHeader_images:hover {
          width: 30%; }
        .home .container .ModuleHeaderTile .ModuleHeader__container .ModuleHeader_images p, .home .container .ModuleHeaderTile .ModuleHeader__container .ModuleHeader_images span {
          font-size: 13px;
          margin: 10px 40px; }
  .home .container .card-item-title {
    margin-top: 0; }
    .home .container .card-item-title h2 {
      text-align: center;
      color: black; }
    .home .container .card-item-title .card-item-box {
      display: flex;
      width: 90%;
      margin: 20px auto; }
      .home .container .card-item-title .card-item-box .box-x {
        margin: auto;
        width: 18%;
        background: white; }
        .home .container .card-item-title .card-item-box .box-x p {
          color: black;
          align-content: flex-end;
          margin-top: 70px;
          font-size: 13px; } }

@media (max-width: 768px) {
  .home .container .Cetile-title {
    width: 100%;
    height: auto;
    flex-direction: column;
    margin: 0px; }
    .home .container .Cetile-title .box {
      margin: 0 auto;
      width: 100%; }
      .home .container .Cetile-title .box h4 {
        text-align: left;
        font-weight: 700;
        padding: 0;
        font-size: 18px;
        font-family: BogleWeb,Helvetica Neue,Helvetica,Arial,sans-serif; }
      .home .container .Cetile-title .box img {
        display: flex;
        width: 40%;
        margin: 20px auto; }
      .home .container .Cetile-title .box button {
        margin: 20px auto; }
  .home .container .TempoCategoryTile h2 {
    text-align: center;
    color: black; }
  .home .container .TempoCategoryTile .TempoCategoryTile__container {
    margin-top: 30px;
    flex-direction: row-reverse; }
    .home .container .TempoCategoryTile .TempoCategoryTile__container .TempoCategoryTile_images {
      width: 50%;
      align-self: center; }
      .home .container .TempoCategoryTile .TempoCategoryTile__container .TempoCategoryTile_images img {
        width: 65%; }
      .home .container .TempoCategoryTile .TempoCategoryTile__container .TempoCategoryTile_images p {
        display: none; }
    .home .container .TempoCategoryTile .TempoCategoryTile__container #Tempo {
      display: none; }
  .home .container .ModuleHeaderTile {
    width: 95%;
    height: auto;
    margin: 10px auto; }
    .home .container .ModuleHeaderTile h2 {
      text-align: center;
      color: black; }
    .home .container .ModuleHeaderTile .ModuleHeader__container {
      margin: 30px 0px;
      display: flex;
      flex-wrap: wrap; }
      .home .container .ModuleHeaderTile .ModuleHeader__container .ModuleHeader_images {
        align-self: flex-start; }
        .home .container .ModuleHeaderTile .ModuleHeader__container .ModuleHeader_images img {
          display: inline-block; }
  .home .container .card-item-title .card-item-box {
    display: flex;
    width: 90%;
    margin: 50px auto; }
    .home .container .card-item-title .card-item-box .box-x {
      width: 50%;
      height: auto;
      background: #fff; }
      .home .container .card-item-title .card-item-box .box-x img {
        margin-left: 60px;
        width: 50%; }
      .home .container .card-item-title .card-item-box .box-x p {
        color: black;
        align-content: flex-end;
        margin: 70px;
        font-size: 19px; }
      .home .container .card-item-title .card-item-box .box-x h3 {
        font-weight: 300;
        margin: 30px 70px;
        color: black; }
    .home .container .card-item-title .card-item-box #items {
      display: none; }
  .home .container .card-item-title .title-cart {
    display: none; } }

.itemprop .item_product {
  position: absolute;
  left: 60px;
  top: 140px; }
  .itemprop .item_product .column img {
    width: 20%; }

.itemprop {
  display: flex; }

.item_product img:hover {
  border-bottom: 3px solid #0071dc; }

.container_slides {
  margin: 0 100px; }
  .container_slides .mySlides {
    display: none; }

.fa-sort-up, .fa-sort-down {
  font-size: 35px;
  position: absolute; }

.fa-sort-up {
  left: 70px;
  bottom: 620px; }

.fa-sort-down {
  left: 54px;
  bottom: -10px; }

.container_slides .mySlides img {
  width: 10%; }

.active {
  opacity: 1; }

@media (max-width: 500px) {
  .itemprop .item_product {
    display: flex;
    position: absolute;
    left: 20px;
    top: 440px; }
    .itemprop .item_product .column img {
      width: 100%; }
    .itemprop .item_product .plusSlides {
      display: none; } }

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0; }

.swiper-slide {
  display: flex;
  z-index: -1;
  text-align: center;
  font-size: 18px;
  background: #fff 216, 191, 191;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.bar1, .bar2, .bar3 {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s; }

.sidenav {
  position: pixed;
  top: 0px;
  left: 0;
  overflow: hidden;
  background-color: white;
  color: yellow; }
  .sidenav .Weekly a {
    font-weight: 600;
    color: black; }
  .sidenav .order, .sidenav .reoder, .sidenav .list, .sidenav .walmart, .sidenav .Credit, .sidenav .Location, .sidenav .Local, .sidenav .Cards, .sidenav .weekly, .sidenav .Help {
    display: flex; }
    .sidenav .order img, .sidenav .reoder img, .sidenav .list img, .sidenav .walmart img, .sidenav .Credit img, .sidenav .Location img, .sidenav .Local img, .sidenav .Cards img, .sidenav .weekly img, .sidenav .Help img {
      margin-left: 30px;
      width: 20px;
      height: 22px;
      margin-top: 10px; }
    .sidenav .order a, .sidenav .reoder a, .sidenav .list a, .sidenav .walmart a, .sidenav .Credit a, .sidenav .Location a, .sidenav .Local a, .sidenav .Cards a, .sidenav .weekly a, .sidenav .Help a {
      color: black; }

.sidenav a {
  padding: 8px 8px 8px 28px;
  font-size: 14px;
  font-weight: 400;
  display: block;
  transition: 0.3s;
  font-size: 14px; }

.sidenav a:hover {
  text-decoration: underline; }

.sidenav .closebtn {
  overflow: visible; }

.sidenav_top {
  width: 100%;
  height: 50px;
  overflow-y: visible;
  background-color: #041e42; }
  .sidenav_top a {
    font-size: 50px;
    color: #ffc220; }

.sidenav-bottom {
  width: 100%;
  height: 1000px;
  overflow-y: auto; }

#logo {
  margin-left: 15px;
  width: 25px;
  height: 25px; }

.logo {
  color: white;
  display: flex;
  padding-left: 50px;
  cursor: pointer;
  font-size: 20px; }
  .logo a {
    margin-left: 20px;
    font-weight: 500;
    color: white; }
  .logo img {
    margin: 10 10px 10px 0px; }

.menu_input .btn_menu-left, .menu_input .btn_menu-right {
  outline: none;
  position: relative;
  border: none;
  padding: 10px 20px;
  background: #ffc220;
  cursor: pointer; }

.menu_input .btn_menu-left {
  border-radius: 25px 0 0 25px;
  border: none;
  left: 4px; }
  .menu_input .btn_menu-left:hover .dropdown-content {
    display: block; }
  .menu_input .btn_menu-left .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 800px;
    left: 0;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
    .menu_input .btn_menu-left .dropdown-content .header {
      font-weight: 900; }
    .menu_input .btn_menu-left .dropdown-content .row {
      display: flex;
      justify-content: space-around; }
  .menu_input .btn_menu-left .dropdown-content {
    text-align: left; }
    .menu_input .btn_menu-left .dropdown-content a {
      text-align: left;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block; }

.menu_input input {
  width: 500px;
  border: none;
  margin-bottom: 20px;
  height: 38px;
  outline: none;
  color: var(--dark_2); }

.menu_input button {
  padding: 10px;
  background: var(--yellow_2);
  border: #FFC220 solid 1px; }
  .menu_input button i {
    color: var(--dark); }

.menu_input .btn_menu-right {
  border-radius: 0 25px 25px 0;
  right: 5px; }

@media (max-width: 1024px) {
  input {
    max-width: 200px; }
  .dropdown-content {
    max-width: 500px; } }

@media (max-width: 768px) {
  input {
    max-width: 180px; }
  .account, .logo a {
    display: none; }
  .menu_input .button {
    background: white; }
  .dropdown-content {
    max-width: 320px; }
    .dropdown-content h2 {
      font-size: 15px; }
    .dropdown-content p {
      font-size: 5px; } }

@media (max-width: 500px) {
  .menu_input .btn_menu-left, .menu_input .btn_menu-right {
    outline: none;
    position: relative;
    padding: 6px 13px;
    background: #ffc220;
    border: none;
    cursor: pointer; }
  .menu_input input {
    max-width: 100px;
    height: 30px; }
  .menu_input :-ms-input-placeholder {
    font-size: 1px; }
  .menu_input .dropdown-content {
    max-width: 320px; }
    .menu_input .dropdown-content h2 {
      font-size: 13px; }
    .menu_input .dropdown-content p {
      font-size: 2px; } }

.account_cart .btn .mySidenav_right {
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding: 23px 0; }
  .account_cart .btn .mySidenav_right img {
    margin-left: 20px;
    width: 15%; }
  .account_cart .btn .mySidenav_right a {
    font-weight: 500;
    color: black;
    margin: 4px; }
  .account_cart .btn .mySidenav_right .Credit {
    display: flex;
    margin-left: 10px;
    margin-top: 30px; }
    .account_cart .btn .mySidenav_right .Credit img {
      width: 8%;
      height: 8%; }
    .account_cart .btn .mySidenav_right .Credit a {
      font-size: 13px;
      font-weight: 400;
      color: black;
      margin: 0 20px; }

.account_cart .btn .ion {
  display: flex; }

.account_cart .btn .account {
  background-color: #041e42;
  font-size: 20px; }

.account_cart .btn .account i, .account_cart .btn a,
.account_cart .btn .cart i {
  color: white; }

.account_cart .btn .account, .account_cart .btn .cart {
  border: 1px solid #041e42;
  margin-left: 10px; }

.account_cart .btn .cart {
  height: 10px;
  font-size: 20px;
  background-color: #041e42; }

.account_cart .btn .notification .badge {
  font-size: 10px;
  position: relative;
  left: 17px;
  bottom: 39px;
  border-radius: 50%;
  padding: 5px 10px;
  background-color: #ffc220; }

.body {
  margin: auto;
  max-width: 1400px; }
  .body h2 {
    margin-top: 20px;
    flex: 1 100%;
    color: black; }
  .body .body_top {
    display: flex;
    flex-wrap: wrap;
    height: 400px; }
    .body .body_top .block_1, .body .body_top .block_2, .body .body_top .block_3, .body .body_top .block_4, .body .body_top .block_5, .body .body_top .block_6 {
      flex: 1;
      margin: 10px;
      height: 900px; }
      .body .body_top .block_1 img, .body .body_top .block_2 img, .body .body_top .block_3 img, .body .body_top .block_4 img, .body .body_top .block_5 img, .body .body_top .block_6 img {
        width: 80%;
        margin: 50px auto; }
      .body .body_top .block_1 a, .body .body_top .block_2 a, .body .body_top .block_3 a, .body .body_top .block_4 a, .body .body_top .block_5 a, .body .body_top .block_6 a {
        font-size: 14px;
        color: black; }
      .body .body_top .block_1 .icon_start, .body .body_top .block_2 .icon_start, .body .body_top .block_3 .icon_start, .body .body_top .block_4 .icon_start, .body .body_top .block_5 .icon_start, .body .body_top .block_6 .icon_start {
        font-size: 10px; }
      .body .body_top .block_1 .price p, .body .body_top .block_2 .price p, .body .body_top .block_3 .price p, .body .body_top .block_4 .price p, .body .body_top .block_5 .price p, .body .body_top .block_6 .price p {
        margin-top: 10px;
        font-weight: 500; }

@media (max-width: 471px) {
  #block_5 {
    display: none; }
  .body .body_top {
    position: relative;
    top: 100px; }
    .body .body_top h2 {
      font-size: 15px; } }

.rating_product {
  padding-top: 30px; }
  .rating_product .evaluate {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px; }
    .rating_product .evaluate span {
      font-size: 30px;
      font-weight: 500; }
    .rating_product .evaluate .evaluate-number {
      display: flex;
      margin-right: 30px; }
    .rating_product .evaluate .ratings {
      color: black;
      border-right: 1px solid #cac3c3;
      padding: 0 50px; }
      .rating_product .evaluate .ratings .icon_start {
        font-size: 10px; }
    .rating_product .evaluate .recommended {
      padding: 0 50px;
      border-right: 1px solid #cac3c3; }
    .rating_product .evaluate .number-start {
      border-right: 1px solid #cac3c3;
      flex: 7; }
      .rating_product .evaluate .number-start .Rating_scale {
        border-radius: 8px; }
        .rating_product .evaluate .number-start .Rating_scale p {
          font-size: 15px; }
        .rating_product .evaluate .number-start .Rating_scale .bar {
          width: 100%; }
          .rating_product .evaluate .number-start .Rating_scale .bar .my_skill {
            text-align: right;
            height: 5px;
            margin: 10px 9px;
            border-radius: 14px;
            padding: 4px;
            background: #19a1c4; }
          .rating_product .evaluate .number-start .Rating_scale .bar .start_5 {
            width: 70%; }
          .rating_product .evaluate .number-start .Rating_scale .bar .start_4 {
            width: 60%; }
          .rating_product .evaluate .number-start .Rating_scale .bar .start_3 {
            width: 20px; }
          .rating_product .evaluate .number-start .Rating_scale .bar .start_2 {
            width: 5%; }
          .rating_product .evaluate .number-start .Rating_scale .bar .start_1 {
            width: 10%; }

@media (max-width: 1024px) {
  .Rating_scale .bar p {
    font-size: 8px; } }

@media (max-width: 768px) {
  .rating_product {
    margin-left: 30px; }
    .rating_product .evaluate {
      display: flex;
      flex-direction: column; }
      .rating_product .evaluate .evaluate-number {
        display: flex;
        margin-bottom: 50px; }
      .rating_product .evaluate .icon_start i {
        font-size: 8px; }
      .rating_product .evaluate .recommended p {
        font-size: 13px; }
  .write_review {
    position: relative;
    right: 70px;
    margin-top: 30px;
    display: flex; } }

@media (max-width: 500px) {
  .rating_product {
    position: relative;
    top: 50px; } }

.item_detail p {
  margin-top: 10px; }

.item_detail .price h4 {
  text-decoration: line-through; }

.item_detail .size {
  display: flex;
  margin-bottom: 20px; }
  .item_detail .size .button {
    border: 1px solid black;
    margin: 5px;
    padding: 10px 35px; }

.select select {
  padding: 5px; }

.select button {
  margin-left: 10px;
  border: 1px solid blue;
  background: blue;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  outline: none;
  box-shadow: 0 9px #999; }
  .select button:hover {
    background: #5656f1; }
  .select button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px); }

@media (max-width: 1024px) {
  .body .body_top {
    margin-top: 100px; }
  .itemprop .item_product .column {
    width: 60%; }
  .item_detail .size .button {
    border: 1px solid black;
    margin: 5px;
    padding: 10px 25px;
    font-size: 12px; } }

@media (max-width: 768px) {
  .item_product {
    display: block; }
    .item_product .column {
      width: 60%;
      margin-left: 0; }
  .itemprop {
    display: flex;
    flex-direction: row; }
  .container_slides {
    margin: 0 0 0 60px; }
    .container_slides .mySlides {
      display: none;
      width: 70%; }
  .item_detail {
    margin-right: 40px; }
    .item_detail h2 {
      font-size: 19px; }
    .item_detail .size .button {
      padding: 5px 15px;
      font-size: 10px; }
    .item_detail .price {
      display: flex;
      flex-direction: column; }
    .item_detail .select #btn_buy {
      margin-left: 20px;
      border: 1px solid blue;
      background: blue;
      padding: 5px 15px;
      border-radius: 30px; } }

@media (max-width: 500px) {
  .item_detail {
    position: absolute;
    width: 50%;
    top: 500px;
    left: 20px; }
  .body_top {
    padding-top: 400px; }
  .rating_product {
    padding-top: 350px; } }

.write_review {
  text-align: left;
  padding: 0 50px;
  display: flex; }
  .write_review button {
    outline: none;
    cursor: pointer;
    background-color: #0071dc;
    margin-bottom: 20px;
    color: white;
    padding: 15px;
    border-radius: 20px;
    font-weight: 800;
    margin-left: 20px;
    border: 1px solid  #0071dc; }
    .write_review button:hover {
      background: none;
      color: #0071dc; }

.write_review-comment {
  line-height: 30px;
  overflow: hidden;
  display: none;
  margin: 30px 0 0 30px; }
  .write_review-comment .images_user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #b88282; }
    .write_review-comment .images_user img i {
      margin: 10px;
      color: blue; }
  .write_review-comment .content-comment {
    position: relative;
    top: -40px;
    left: 60px; }
    .write_review-comment .content-comment input {
      width: 100%;
      margin-top: 20px;
      border: none;
      border-bottom: 1px solid #7c7777;
      outline: none; }
  .write_review-comment .like, .write_review-comment i {
    position: relative;
    top: -80px;
    float: right;
    font-size: 20px;
    color: #0071dc; }
