:root {
    --primary:red;
    --yellow_1:#FCED70;
    --yellow_2:#FFC220;
    --blue_1:#19A1c4;
    --color_btn:#0071DC;
    --blue_3:#041E42;
    --dark_1:#949499;
    --dark_2:#000000;
    --light:#ffffff;

}

