.account_cart{    
    .btn{   
        .mySidenav_right{
            top: 0;
            right: 0;
            overflow-x: hidden;
            padding:23px 0; 
                img{
                    margin-left: 20px;
                    width: 15%;
                }
                a{
                    font-weight:500;
                    color: black;
                    margin: 4px;
                }
            .Credit{    
                display:flex;
                margin-left: 10px;
                margin-top:30px;
                img{
                    width: 8%;
                    height: 8%;
                   
                }
                a{
                    font-size: 13px;
                    font-weight: 400;
                    color: black;
                    margin:0 20px ;
                }
            }                         
        }    
        .ion{
            display: flex;
        }   
        .account{
            background-color:#041e42;
            font-size: 20px;
        }
        .account i,a,
        .cart i{
            color:white;
        }            
        .account, .cart{
            border: 1px solid #041e42;
            margin-left: 10px;
        }
        .cart{
            height: 10px;
            font-size: 20px;   
            background-color:#041e42;           
        }
        .notification .badge{
            font-size: 10px;
            position: relative;
            left:17px;
            bottom: 39px;
            border-radius: 50%;
            padding: 5px 10px;
            background-color:#ffc220;
        }
    }    
}