#logo{
    margin-left: 15px;
    width: 25px;
    height: 25px;
}
.logo{
    color:white;
    display: flex;
    padding-left:50px;
    cursor: pointer;
    font-size: 20px;
    a{
        margin-left: 20px;
        font-weight: 500;
        color:white;
    }
    img{
        margin:10 10px 10px 0px;
    }
}