.body{
    margin:auto;
    max-width: 1400px;  
    h2{
        margin-top: 20px;
        flex:1 100%;
        color:black
    }
    .body_top {
        display:flex;
        flex-wrap: wrap; 
        height: 400px;            
        .block_1, .block_2, .block_3, .block_4, .block_5, .block_6{
            flex: 1;
            margin:10px;
            height: 900px;
            img{
                width: 80%;
                margin: 50px auto;
            }
            a{
                font-size: 14px;
                color:black;
            }
            .icon_start{
                font-size: 10px;
            }
            .price p{
                margin-top:10px;
                font-weight:500;
            }
        }           
    }
}        
@media (max-width: 471px){
    #block_5{
        display: none;
    }
    .body .body_top{
        position: relative;
        top: 100px;
        h2{
            font-size:15px;
        }
    }
}