.product_detail p, .price h4{
    color:#777777;
}
.select, .product_details, .product_detail, .bar{
    display: flex;
}
.container-fluid_body{
    width: 90%;
    margin: auto;
    height: auto;      
}
    .item_detail{
        margin-top: 40px;
    }
    .About_details{
        ul{
            line-height: 30px;
            margin-left:40px;
        }
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }     
      tr:nth-child(even) {
        background-color: #dddddd;
      }     